/* @override http://cole.local/websites/v2.thepatrick.com.au/stylesheets/highdpi.css */

/* 
	Overrides for iPhone 4 and other high device-pixel-ratio devices
	----------------------------------------------------------------
*/

@media
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	
	#example {
		background: rgb(255,158,97);
		background-image: url(../img/refresh-2x.png);
		ackground-size: 33px 30px;
	}
	
}